src/docbkx/xsd/test_example.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:exmp="http://docs.openstack.org/example/api/v1.0">
    <grammars>
        <include href="test.xsd"/>
    </grammars>
    <resources base="https://ord.examples.api.rackspacecloud.com">
        <wadl:doc xml:lang="EN" title="WADL Examples"
            xmlns="http://docbook.org/ns/docbook"/>
        <resource id="instances" path="instances">
            <resource id="instanceId" path="{instanceId}">
                <param name="instanceId" style="template"
                    type="xsd:string">
                    <doc>The instance ID for the specified MyExample
                        instance.</doc>
                </param>
                <resource id="examples" path="examples">
                    <method href="#createExample"/>
                    <method href="#getExamples"/>
                    <resource id="exampleName" path="{exampleName}">
                        <param name="exampleName" style="template"
                            type="xsd:string">
                            <doc>The name for the specified
                                MyExample.</doc>
                        </param>
                        <method href="#deleteExample"/>
                    </resource>
                </resource>
            </resource>
        </resource>

    </resources>
    <!-- Method Definitions -->
    <method name="POST" id="createExample">
        <wadl:doc xml:lang="EN" title="Create Example"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a new
                    <glossterm>example</glossterm> within the
                specified instance.</para>
        </wadl:doc>
        <request>
            <param name="name" style="query" required="true"
                type="xsd:string">
                <doc xml:lang="EN">The name of the example.
                </doc>
            </param>
            <param name="character_set" style="query" required="false"
                type="xsd:string">
                <doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">Set of symbols and encodings.
                    The default character set is
                    <code>utf8</code>.
                </doc>
            </param>
            <param name="collate" style="query" required="false"
                type="xsd:string">
                <doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">Set of rules for comparing
                    characters in a character set. The default
                    value for collate is
                    <code>utf8_general_ci</code>.
                </doc>
            </param>
            <representation mediaType="application/json"
                element="exmp:Database">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the example
                        requests:<?rax-fo keep-with-next?></para>
                    <xsdxt:code
                        href="../samples/create-examples-request.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="exmp:Database">
                <doc>
                    <xsdxt:code
                        href="../samples/create-examples-request.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">

            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the example
                        responses:</para>
                    <xsdxt:code
                        href="../samples/create-examples-response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../samples/create-examples-response.xml"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getExamples">
        <wadl:doc xml:lang="EN" title="List Examples"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists examples.</para>
            <note><para>This operation returns only the user-defined
                    examples, not the system examples. The system
                    examples (mysql, information_schema, lost+found)
                    can only be viewed by a example
                    administrator.</para></note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the list examples for
                        Instance requests:</para>
                    <xsdxt:code
                        href="../samples/list-examples-request.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../samples/list-examples-request.xml"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="exmp:Databases">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the list examples for
                        Instance responses:</para>
                    <xsdxt:code
                        href="../samples/list-examples-response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="exmp:Databases">
                <doc>
                    <xsdxt:code
                        href="../samples/list-examples-response.xml"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteExample">
        <wadl:doc xml:lang="EN" title="Delete Example"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Deletes the specified
                example.</para>
            <para>This operation deletes the requested example within
                the specified example instance. All data associated
                with the example is also deleted.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the delete example
                        requests:</para>
                    <xsdxt:code
                        href="../samples/delete-examples-request.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../samples/delete-examples-request.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the delete example
                        responses:</para>
                    <xsdxt:code
                        href="../samples/delete-examples-response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../samples/delete-examples-response.xml"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
