src/docbkx/xsd/test.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:exmp="http://docs.openstack.org/example/api/v1.0">
    <grammars>
        <include href="test.xsd"/>
    </grammars>
    <resources base="https://ord.examples.api.rackspacecloud.com">
        <resource id="versions" path="">
            <method href="#getVersions"/>
        </resource>
        <resource id="version" path="{version}">
            <method href="#getVersionInfo"/>
            <resource id="accountID" path="{accountId}">
                <param name="accountId" style="template"
                    type="xsd:string">
                    <doc>The account ID of the owner of the specified
                        MyExample instance.</doc>
                </param>
                <resource id="instances" path="instances">
                    <resource id="instanceId" path="{instanceId}">
                        <param name="instanceId" style="template"
                            type="xsd:string">
                            <doc>The instance ID for the specified
                                MyExample instance.</doc>
                        </param>
                        <resource id="examples" path="examples">
                            <method href="#createExample"/>
                            <method href="#getExamples"/>
                            <resource id="exampleName"
                                path="{exampleName}">
                                <param name="exampleName"
                                   style="template" type="xsd:string">
                                   <doc>The name for the specified
                                   MyExample.</doc>
                                </param>
                                <method href="#deleteExample"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--Token Methods... -->

    <!-- Database -->
    <method name="POST" id="createExample">
        <wadl:doc xml:lang="EN" title="Create MyExample"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a new
                    <glossterm>MyExample</glossterm> within the
                specified instance.</para>
            <para>The <code>name</code> is a required
                attribute.</para>
            <para>You can specify the following additional attributes
                for each MyExample: <code>collate</code> and
                    <code>character_set</code>.</para>
            <table rules="all">
                <caption>Required and Optional Attributes for Create
                    MyExample</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    &hellip;
                </tbody>
            </table>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="exmp:Database">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the Create MyExample
                        requests:<?rax-fo keep-with-next?></para>
                    <xsdxt:code
                        href="../samples/create-examples-request.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="exmp:Database">
                <doc>
                    <xsdxt:code
                        href="../samples/create-examples-request.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">

            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the Create MyExample
                        responses:</para>
                    <xsdxt:code
                        href="../samples/create-examples-response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../samples/create-examples-response.xml"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getExamples">
        &hellip; &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteExample">
        &hellip; &commonFaults; &getFaults; </method>
</application>
