src/docbkx/xsd/test.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<!-- Application -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:exmp="http://docs.openstack.org/example/api/v1.0">
    <!-- Grammars -->
    <grammars>
        <include href="test.xsd"/>
    </grammars>
    <!-- Resources -->
    <resources base="https://ord.examples.api.rackspacecloud.com">
        <!-- WADL doc - specifies the title that appears at the top of the chapter or section -->
        <wadl:doc xml:lang="EN" title="WADL Examples"
            xmlns="http://docbook.org/ns/docbook"/>
        <!-- Resource -->
        <resource id="instances" path="instances">
            <resource id="instanceId" path="{instanceId}">
                <!-- Parameter -->
                <param name="instanceId" style="template"
                    type="xsd:string">
                    <doc>The instance ID for the specified example
                        instance.</doc>
                </param>
                <resource id="examples" path="examples">
                    <!-- Method Reference for createExample -->
                    <method href="#createExample"/>
                    <resource id="exampleName" path="{exampleName}">
                        <param name="exampleName" style="template"
                            type="xsd:string">
                            <doc>The name for the specified
                                example.</doc>
                        </param>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!-- Method Definition for createExample -->
    <method name="POST" id="createExample">
        <wadl:doc xml:lang="EN" title="Create Example"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a new
                    <glossterm>example</glossterm> within the
                specified instance.</para>
            <para>You can specify the following additional attributes
                for each example: <code>collate</code> and
                    <code>character_set</code>.</para>
        </wadl:doc>
        <!-- Request -->
        <request>
            <!-- Representation of HTTP request in json format -->
            <representation mediaType="application/json"
                element="exmp:Database">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the create example
                        requests:<?rax-fo keep-with-next?></para>
                    <!-- Code sample for createExample in json -->
                    <xsdxt:code
                        href="../samples/create-examples-request.json"
                    />
                </doc>
            </representation>
            <!-- Representation of HTTP request in xml format -->
            <representation mediaType="application/xml"
                element="exmp:Database">
                <doc>
                    <!-- Code sample for createExample in xml -->
                    <xsdxt:code
                        href="../samples/create-examples-request.xml"
                    />
                </doc>
            </representation>
        </request>
        <!-- Response - shows 202 return code -->
        <response status="202">
            <!-- Representation of HTTP response in json -->
            <representation mediaType="application/json">
                <doc>
                    <para xmlns="http://docbook.org/ns/docbook">The
                        following examples show the Create Example
                        responses:</para>
                    <!-- Sample response in json format -->
                    <xsdxt:code
                        href="../samples/create-examples-response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <!-- Sample response in xml format -->
                    <xsdxt:code
                        href="../samples/create-examples-response.xml"
                    />
                </doc>
            </representation>
        </response>
        <!-- entities that are defined in common.ent, included in the prolog -->
        &commonFaults; &getFaults; </method>
</application>
